Repository oracle/centos2ol, pull requests merged in 2020-12, with the labels that each got.

#13 Automatically enable additional repositories to match CentOS equivalent
  centos2ol.sh
Labels: centos-6, centos-7, centos-8, enhancement

#15 Switch distro-specific module streams
  centos2ol.sh
Labels: centos-8, enhancement

#16 Delete dnf cache at end of switch
  centos2ol.sh
Labels: centos-8

#24 Use full path for redhat-release when checking for a supported distribution
  centos2ol.sh
Labels: oca-signed

#30 [bug] Fix help parameter
  centos2ol.sh
Labels: bug
